<div class="container">
    <div class="input-group mt-5 mb-5 animated fadeIn fast">
        <input type="text" class="form-control" placeholder="Escriba el nombre del producto" (keyup.enter)="searchProduct(searchText.value)" #searchText>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="searchProduct(searchText.value)">Buscar</button>
        </div>
    </div>
    <div class="alert alert-secondary animated fadeIn fast" *ngIf="products.length == 0">
        No se encontraron productos
    </div>
    <div class="card-deck mt-5 mb-5">
        <app-product-card class="col-4 p-0 mb-3" [product]="product" *ngFor="let product of products"></app-product-card>
    </div>
</div>