<div class="card card-mc animated fadeIn fast">
    <div class="box">
        <img [src]="product.imgProduct" class="" alt="...">
    </div>
    <div class="card-body">
        <h5 class="card-title">{{product.name}}</h5>
        <h6 class="card-subtitle mb-2 text-dist">${{product.price}}</h6>
        <p class="card-text">{{product.description}}</p>
    </div>
    <div class="card-footer text-center">
        <button type="button" class="btn btn-info btn-sm" (click)="detail()">Detalle</button>
        <button type="button" class="btn btn-dist btn-sm" (click)="addToCart(product)">Agregar al carrito</button>
    </div>
</div>