<div class="bg-img mb-5 animated fadeIn fast"></div>

<div class="container animated fadeIn fast">
    <div class="row mb-5">
        <div class="card text-white">
            <img src="./../../../assets/images/mercadopago.jpg" class="card-img" alt="...">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-sm">
            <div class="card">
                <img src="./../../../assets/images/category-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Categoria 1</h5>
                    <p class="card-text">Descripción de la categoría</p>
                    <button routerLink="/products" class="btn btn-primary">Ver productos</button>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <img src="./../../../assets/images/category-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Categoria 2</h5>
                    <p class="card-text">Descripción de la categoría</p>
                    <button routerLink="products" class="btn btn-primary">Ver productos</button>
                </div>
            </div>
        </div>
        <div class="col-sm">
            <div class="card">
                <img src="./../../../assets/images/category-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Categoria 3</h5>
                    <p class="card-text">Descripción de la categoría</p>
                    <button routerLink="/products" class="btn btn-primary">Ver productos</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-md-12 heading-section text-center ftco-animate fadeInUp ftco-animated">
            <span class="subheading">Productos destacados</span>
            <h2 class="mb-4">Nuestros productos</h2>
            <!-- <p>Muy lejos, detrás de la palabra montañas, lejos de los países Vokalia y Consonantia</p> -->
        </div>
    </div>
    <div class="row mb-5">
        <div class="col">
            <div class="card">
                <img src="./../../../assets/images/product-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Producto 1</h5>
                    <p class="card-text">Descripción</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="./../../../assets/images/product-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Producto 2</h5>
                    <p class="card-text">Descripción</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="./../../../assets/images/product-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Producto 3</h5>
                    <p class="card-text">Descripción</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="./../../../assets/images/product-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Producto 4</h5>
                    <p class="card-text">Descripción</p>
                </div>
            </div>
        </div>
    </div>
</div>