<app-navbar></app-navbar>

<div class="container">
    <ng-container *ngIf="productsToCard && productsToCard.length > 0; else alert">
        <div class="row m-5">
            <div class="table-responsive responsive-visibility">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Producto</th>
                            <th scope="col" class="text-right">Precio</th>
                            <th scope="col" class="text-center">Cantidad</th>
                            <th scope="col" class="text-right">Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let productToCard of productsToCard; let i = index">
                            <th scope="row">{{i+1}}</th>
                            <td>
                                <span class="product-name">{{productToCard.name}}</span>
                                <span class="product-description">{{productToCard.description}}</span>
                            </td>
                            <td class="text-right">{{productToCard.price | currency}}</td>
                            <td class="text-center" style="width: 10%;">
                                <input type="number" (blur)="checkValue(productToCard.count, i)"
                                    style="text-align: center;" name="count" class="form-control form-control-sm"
                                    [(ngModel)]="productToCard.count" id="count" min="1" [max]="productToCard.quantity"
                                    value="1">
                                <small style="font-size: 70%;" class="text-muted text-uppercase">stock:
                                    {{productToCard.quantity}}</small>
                            </td>
                            <td class="text-right">{{ productToCard.price * productToCard.count | currency}}</td>
                            <td class="text-center"><button class="btn btn-sm btn-danger"
                                    (click)="deleteProduct(productToCard, i)" title="Eliminar"><i
                                        class="fas fa-trash-alt"></i></button></td>
                        </tr>
                        <tr class="text-right text-uppercase font-weight-bold">
                            <td colspan="3">Total</td>
                            <td class="text-center">{{returnTotalCount()}}</td>
                            <td>{{returnTotal() | currency}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 responsive-visibility-none">
                <div class="card animated fadeIn fast" *ngFor="let productToCard of productsToCard; let i = index">
                    <div class="card-body">
                        <h6 class="card-title text-dist">{{productToCard.name}}</h6>
                        <h5 class="card-subtitle mb-2">
                            <span
                                [ngClass]="{'td-line-through text-muted': productToCard.applyDiscount}">{{productToCard.price | currency}}</span>
                            <span *ngIf="productToCard.applyDiscount"
                                class="ml-2 mr-2">{{productToCard.priceDiscount}}</span>
                            <span *ngIf="productToCard.applyDiscount" class="badge badge-danger"><i
                                    class="fas fa-caret-down"></i>
                                {{productToCard.percentage}}%</span>
                        </h5>

                        <p class="card-text text-muted">{{productToCard.description}}</p>
                    </div>
                    <div class="card-footer text-center">
                        <div class="btn-group btn-group-sm btn-block">
                            <div class="col-md-4">
                                <input type="number" (blur)="checkValue(productToCard.count, i)"
                                    style="text-align: center;" name="count" class="form-control form-control-sm"
                                    [(ngModel)]="productToCard.count" id="count" min="1" [max]="productToCard.quantity"
                                    value="1">
                                <small style="font-size: 70%;" class="text-muted text-uppercase">stock:
                                    {{productToCard.quantity}}</small>
                            </div>
                            <div class="col-md-4">
                                <small>Total</small>
                                <h6>{{ productToCard.price * productToCard.count | currency}}</h6>
                            </div>
                            <div class="col-md-4">
                                <button class="btn btn-danger" (click)="deleteProduct(productToCard, i)"
                                    title="Eliminar"><i class="fas fa-trash-alt"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card animated fadeIn fast">
                    <div class="card-footer text-center">
                        <div class="btn-group btn-group-sm btn-block">
                            <div class="col-md-4 mt-3">
                                <h5>Total</h5>
                            </div>
                            <div class="col-md-4">
                                <small>Cantidad</small>
                                <h6>{{returnTotalCount()}}</h6>
                            </div>
                            <div class="col-md-4">
                                <small>Monto</small>
                                <h6>{{returnTotal() | currency}}</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-5">
            <div class="col-md-12 text-right">
                <button class="btn btn-primary" (click)="confirmOrder()">Confirmar pedido</button>
            </div>
        </div>
    </ng-container>
    <ng-template #alert>
        <div class="row m-5">
            <div class="col-md-12 text-center">
                <div class="alert alert-light" role="alert">
                    <p class="lead text-gray-800">No tiene productos en su carrito!</p>
                    <p class="text-gray-500 mb-0">Los productos que seleccione los podrá ver aquí</p>
                    <a routerLink="/products">Ver productos</a>
                </div>
            </div>
        </div>
    </ng-template>
</div>

<!-- <app-footer></app-footer> -->