.btn.focus {
    box-shadow: none;
}

.card {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.box {
    width: 100%;
    height: 10rem;
    background: #ffffff;
    overflow: hidden;
}

.box img {
    width: 100%;
    height: auto;
}

@supports(object-fit: cover) {
    .box img {
        height: 100%;
        object-fit: contain;
        object-position: center center;
    }
}

.card-text {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-body, .card-footer {
    width: 100%;
}

.card-footer {
    background-color: transparent;
}

.product .text h4 {
    font-size: 12px;
    font-weight: 300;
    font-family: "Poppins", Arial, sans-serif;
}