<app-navbar></app-navbar>

<div class="container">
    <!-- <div class="input-group mt-5 mb-5 animated fadeIn fast">
        <input type="text" class="form-control" placeholder="Escriba el nombre del producto" (keyup.enter)="searchProduct(searchText.value)" #searchText>
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="searchProduct(searchText.value)">Buscar</button>
        </div>
    </div> -->
    <!-- <div class="alert alert-secondary animated fadeIn fast" *ngIf="products.length == .length == 0">
        No se encontraron productos
    </div> -->
    <div class="row">
        <div class="col mt-5">
            <div class="btn-group btn-group-toggle btn-block" data-toggle="buttons">
                <label class="btn btn-dist">
                    <input type="radio" name="options" id="all" (click)="getAllProducts()"> Todas
                </label>
                <label class="btn btn-dist" *ngFor="let category of categories | async">
                    <input type="radio" name="options" [id]="category.id" (click)="filterByCategoryName(category.name)">
                    {{category.name}}
                </label>
            </div>
        </div>
    </div>
    <div class="card-deck mt-5 mb-5">
        <!-- <div class="card animated fadeIn fast" *ngFor="let product of products | async">
            <img [src]="product.imgProduct" class="card-img-top" [alt]="product.name">
            <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <h6 class="card-subtitle mb-2 text-dist">${{product.price}}</h6>
                <p class="card-text">{{product.description}}</p>
            </div>
            <div class="card-footer text-center">
                <button type="button" class="btn btn-info btn-sm" (click)="detail()">Detalle</button>
                <button type="button" class="btn btn-dist btn-sm">Agregar al carrito</button>
            </div>
        </div> -->
        <app-product-card class="col-md-4 col-sm-6 mb-3 p-0" [product]="product"
            *ngFor="let product of products | async"></app-product-card>
    </div>
</div>

<app-footer></app-footer>