<app-navbar></app-navbar>

<div class="container">
    <div class="row">
        <div class="col mt-5 d-none d-md-flex d-lg-flex">
            <div class="btn-block btn-group btn-group-toggle text-uppercase animated fadeIn fast" data-toggle="buttons">
                <label class="btn btn-dist font-weight-lighter">
                    <input type="radio" name="options" id="all" (click)="getAllProducts()"> Todas
                </label>
                <label class="btn btn-dist font-weight-lighter" [ngClass]="{'active': categoryName == category.name}"
                    *ngFor="let category of categories">
                    <input type="radio" name="options" [id]="category.id" (click)="filterByCategoryName(category.name)">
                    {{category.name}}
                </label>
            </div>
        </div>
        <div class="col mt-3 d-md-none">
            <div class="form-group animated fadeIn fast">
                <!-- <label for="categories">CATEGORIAS</label> -->
                <select class="text-uppercase form-control" id="categories" [(ngModel)]="categorySelect"
                    (ngModelChange)="filterByCategoryName(categorySelect.name)">
                    <option value="" selected>Todas</option>
                    <option *ngFor="let category of categories" [ngValue]="category">
                        {{ category.name }}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4">
        <div class="col mt-3 mb-3" *ngFor="let product of products">

            <div class="card h-100 card-mc animated fadeIn fast">
                <div class="box">
                    <img [src]="product.imgProduct" class="" [alt]="product.name">
                </div>
                <div class="card-body">
                    <h6 class="card-title text-dist">{{product.name}}</h6>
                    <!-- <h5 class="card-subtitle mb-2" [ngClass]="{'td-line-through': product.applyDiscount}">${{product.price}}</h5> -->

                    <h5 class="card-subtitle mb-2">
                        <span
                            [ngClass]="{'td-line-through text-muted': product.applyDiscount}">${{product.price}}</span>
                        <span *ngIf="product.applyDiscount" class="ml-2 mr-2">${{product.priceDiscount}}</span>
                        <span *ngIf="product.applyDiscount" class="badge badge-danger"><i class="fas fa-caret-down"></i>
                            {{product.percentage}}%</span>
                    </h5>

                    <p class="card-text text-muted">{{product.description}}</p>
                </div>
                <div class="card-footer text-center">
                    <div class="btn-group btn-group-sm btn-block">
                        <button type="button" class="btn btn-info" (click)="detail(product)"><i
                                class="fas fa-info"></i></button>
                        <button type="button" class="btn btn-dist" (click)="addToCart(product)"><i
                                class="fas fa-cart-plus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>